.tile--active {
  background: white !important;
  color: #292929 !important;
}
.full {
  background: pink !important;
}
.full__saturday {
  background: pink !important;
  color: blue !important;
}
.full__sunday {
  background: pink !important;
  color: red !important;
}

.few {
  background: skyblue !important;
}
.few__saturday {
  background: skyblue !important;
  color: blue !important;
}
.few__sunday {
  background: skyblue !important;
  color: red !important;
}
.few__holiday {
  background: skyblue !important;
  color: red !important;
}
.full__holiday {
  background: pink !important;
  color: red !important;
}
.closed {
  background: #7bad8f !important;
}
.saturday {
  color: blue !important;
}
.sunday {
  color: red !important;
}

.national__holiday {
  color: red !important;
}

.check_in_day {
  background: #f6ad55 !important;
}

.navigation__next2-button,
.navigation__prev-8-button {
  display: none;
}
