.react-calendar__tile--active {
  background: white !important;
  color: #292929 !important;
}
.react-calendar__full {
  background: pink !important;
}
.react-calendar__full__saturday {
  background: pink !important;
  color: blue !important;
}
.react-calendar__few {
  background: skyblue !important;
}
.react-calendar__few__saturday {
  background: skyblue !important;
  color: blue !important;
}
.react-calendar__few__holiday {
  background: skyblue !important;
  color: red !important;
}
.react-calendar__closed {
  background: #7bad8f !important;
}
.react-calendar__saturday {
  color: blue !important;
}
.react-calendar__sunday {
  color: red !important;
}

.react-calendar__national__holiday {
  color: red !important;
}

.react-calendar__check_in_day {
  background: #f6ad55 !important;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev-8-button {
  display: none;
}
